body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.container {
    width: 75%;
    margin: auto;
    min-height: 530px;
    position: relative;
}
.head_top {
    padding-top: 40px;
}
.header_bg {
    background-color: #87509c;
    min-height: 530px;
}
.logo {
    float: left;
}
.main_menu {
    overflow: hidden;
    text-align: right;
}
.main_menu ul {
    line-height: 20px;
}
.main_menu nav ul li {
    display: inline-block;
    margin-left: 10px;
}
.main_menu nav ul li a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    padding: 8px 15px;
}
.main_menu a:hover, a.active {
    padding: 8px 15px;
    background-color: #763c8e;
    border-radius: 3px;
}
.header_content {
    margin: auto;
    width: 85%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.header_content h1 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.header_content a {
    background-color: #EB7D4C;
    text-decoration: none;
    color: white;
    padding: 20px 70px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
    border-bottom: 5px solid #ee6b33;
}

.service_secton {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    color: #ffffff;
}
.service_item {
    float: left;
    width: 22%;
    margin: 10px 15px;
}
section.service_bg {
    background-color: #18C2A5;
    min-height: 500px;
    padding-top: 100px;
    padding-bottom: 90px;
}
.service_top h2 {
    margin: 0;
    font-size: 35px;
    letter-spacing: 4.5px;
}
.service_top {
    width: 550px;
    margin: 0 auto;
    padding-bottom: 50px;
}
span.line {
    display: inline-block;
    width: 89px;
    height: 4px;
    background-color: #10a58b;
    margin: 0 auto;
}
.service_top p {
    color: #ffffffb3;
    font-size: 18px;
}
.service_img {
    width: 225px;
    height: 150px;
}
.service_item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}
.service_item p {
    color: #ffffffb3;
}