body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}
.container {
    width: 75%;
    margin: auto;
}
.header_bg {
    background-color: #87509c;
    min-height: 530px;
}
.logo {
    float: left;
}
.main_menu {
    overflow: hidden;
    text-align: right;
}
.main_menu nav ul li {
    display: inline-block;
    margin-left: 10px;
}
.main_menu nav ul li a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    padding: 8px 15px;
}
.main_menu a:hover, a.active {
    padding: 8px 15px;
    background-color: #763c8e;
    border-radius: 3px;
}
.header_content {
    margin: auto;
    width: 85%;
    text-align: center;
}
.header_content h1 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.header_content a {
    background-color: #EB7D4C;
    text-decoration: none;
    color: white;
    padding: 20px 70px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
    border-bottom: 5px solid #ee6b33;
}

